<div id="adminDashboard">
    <div class="col-xs-1 adminDashboardItem">
        <%= link_to 'DASHBOARD', '/admin' %>
    </div>
    <div class="col-xs-1 adminDashboardItem">
        <%= link_to 'SHOES', controller: 'admin', action: 'shoes' %>
    </div>
    <div class="col-xs-1 adminDashboardItem">
        <%= link_to 'USERS', '/admin/users' %>
    </div>
</div>