<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <%= render partial: 'dashboard' %>

            <div id="adminDashboardPanel">
                <%= render partial: 'usersTable' %>
            </div>
        </div>
    </div>
</div>