
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-2">
            <div id="cart-page-1" style="display: none">
                <div id="cart-shoe-list">
                    <%= render "shoeList" %>
                </div>
            </div>
            <div id="cart-page-2">
                <div id="cart-shoe-list" style="display: none">
                    <%= render "addressFormContainer" %>
                </div>
            </div>
            <div id="cart-page-3">
                <%= render :template => "charges/new", :locals => { :amount => current_order.subtotal + current_order.shipping } %> 
            </div>

            <div id="cart-shoe-form">
            </div>
        </div>
        <div class="col-xs-3">
            <%= render "receipt" %>
        </div>
        </div>
    </div>
</div>