// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.address-form-div {
    margin-left: 20px;
    width: 80%;
}

.addressReview {
    float: left;
    width: 45%;
    margin-left: 5%;
}