// Place all the styles related to the Admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

#adminDashboard {
    background: $lightGray;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    margin-bottom: 20px;
    padding-top: 10px;
    width: 100%;

    .adminDashboardItem {
        display: inline-block;
        margin-left: 10px;
        width: auto;
        a {
            color: $almostBlack;
            &:hover {
                color: $mellowYellow;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

#adminIndex{
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .adminIndexItem {
        align-content: center;
        border: 1px solid $gray;
        background: $lightGray;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 85%;

        .bubble { 
            position: absolute; 
            left: 42%;
            top: 22%;
            width: 50px;
            display: table; 
            p {
                display: table-cell; 
                vertical-align: middle; 
                text-align: center; 
                color: $almostBlack;
                font-size: 20px;
    
                &:hover {
                    color: $almostBlack;
                    text-decoration: none !important;
                }
              }
          }

        &:hover {
            p {
                color: $almostBlack;
                text-decoration: none !important;
            }
        }
    }
}


.adminButton {
    background: $yellow;
    border: 1px solid $lightGray !important;
    border-radius: 5% !important;
    color: $gray !important;
    font-size: 10px !important;
    font-weight: bold !important;

    &:hover {
        color: $almostBlack;
        border: 1px solid $almostBlack !important;
        border-radius: 5% !important;
    }
}

#shoeCreateForm {
    border: 1px solid $lightGray;
}

#adminTable {
    color: $almostBlack;
    th {
        a {
            color: $almostBlack;
        }
    }
    td {
        a {
            .glyphicon {
                color: $almostBlack;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}