
$almostBlack: #1f1f1f;


$gray: #5b5b5b;
$darkGray: #555555;
$lightGray: #f2f2f2;

$grayYellow: #ceb037;
$yellow: #f4cf40;
$mellowYellow: #e4cc72;


$darkWhite: #eaeaea;
$white: #ffffff;