#gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}

#index-page {
    margin-top: 450px;
}

#brand_select {
    text-align: center;
}

.index-select-brand {
    margin-top: 5px;
    width: none !important;
    height: 25px !important;
    padding: 0 !important;
}