@import "colors";

#formContainer {
    color: $darkGray;
    margin-top: 75px;
}

#form {
    background: $lightGray;
    border: 1px;
    border-color: $lightGray;
    border-radius: 5px;
    border-style: solid;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7%;
}

#formButton {
    color: $white;
    background: $almostBlack;
    border-color: $almostBlack;
    &:hover {
        background: $yellow;
        border: 1px solid $yellow;
        color: $almostBlack;
    }
    &:focus {
        outline: none;
    }
}

#password {
    font-size: 28px;
}

#rememberMe {
    font-size: 10px;
}

.signup-register-link {
    a {
        color: $yellow;
        text-decoration: none;
    }
}