@import "colors";

.header-style-1 {
    background-color: #000000;
    border: 0px solid #000000;
    margin-bottom: 50px;
}

.header-style-2 {
    background-color: transparent;
    border: transparent;
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .navbar-default {
        background-color: transparent;
        border: transparent;
    }
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}

.navbar-default {
    background: $almostBlack;
    border-color: $almostBlack;
    margin-bottom: 0;
    height: 60px;
}

.navbar-default .navbar-brand {
    color: $white;
    font-size: 12px;
    height: 58px;

}

.navbar-header {
    height: 60px;
    &:hover {
        a {
            color: $yellow !important;
        }
    }
}

.navbar-brand-static {
        &:hover {
            color: $white !important;
        }
}

.navCategory{
    &:hover {
        color: $white !important;
        border-bottom: 3px solid $mellowYellow !important;
    }
}

.navCategorySelected {
    color: $yellow !important;
    border-bottom: 3px solid $mellowYellow !important;  
}

.navbar .navbar-nav > li > a {
    line-height: 150px;
}