#shoeTable {
    border-collapse:separate;
    border-spacing:0 20px;
    margin-top: 50px;
    width: 100%;
}

#shoeData {
    margin: 0 auto;
    width: 50%;
}

#photoImg {
    -webkit-filter: brightness(100%);
}

#photoImg:hover {
    -webkit-filter: brightness(80%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


