<% @shoes.find_in_batches(batch_size: 4) do |shoe_batch| %>
    <div class="row">
        <% shoe_batch.each do |shoe| %>
            <div class="col-xs-3">
                <div id="shoeData">
                    <%= link_to image_tag(shoe.photo_url, size: "135x135"), shoe_path(shoe), id: "photoImg" %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>


