<div id="gallery">
    <img src="http://wallpaper-house.com/data/out/12/wallpaper2you_487079.jpg" width="100%" height="450px">
</div>

<div class="container" id="index-page">
    <div class="row">
    </div>
    <br>
    <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
            <div id="brand_select">
                Featured Products <br>
                <%= select("brand", "brand_id", Brand.all.collect {|b| [ b.brand, b.id ] }) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <%= render partial: "shoesTable", locals: {brandSearch: 1, styleSearch: nil} %>
        </div>
    </div>
</div>



