<%= form_tag 'charges#create' do %>
    <div class="cart-buttons">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description=""
        data-amount= "<%= ((current_order.subtotal + current_order.shipping) * 100) %>"
        data-locale="auto"
        data-label="PAY <%= (current_order.subtotal + current_order.shipping) %>KM"
        data-currency="BAM"></script>
<% end %>
                <div id="cart-button-cancel3" class="cart-button-cancel cart-button btn "> 
                        Back
                </div>
    </div>

<script>
        $('#cart-button-cancel3').on('click', function(){
        $.ajax({ type: "GET",
            url: '/address/new',
            data: { }
        }).done(function(data) {
            console.log(data);
        });
        $("cart-buttons-3").html("");
        $('#cart-buttons-3').hide();
        $('#cart-buttons-2').show();
    });
</script>